li {
    margin: 5px;
    padding: 30px;
    border-bottom: 1px dashed ghostwhite;
}

.clear {
    clear: both;
}

li:hover {
    background-color: #1f2535ac;
    cursor: pointer
}

.ta_l {
    text-align: left;
}

li .title_exp {
    padding: 10px 0;
    line-height: 40px;
    vertical-align: middle;
}

li .title_exp .title {
    float: left;
    font-weight: bold;
}

li .title_exp .experience {
    float: right;
    font-weight: normal;
}

li .title_exp div:last-child {
    clear: both;
}

li .comp_name, li .location, li .skills, li .salary {
    display: flex;
    margin: 10px 0 5px;
}

li .comp_name .ta_l, li .location .ta_l, li .skills .ta_l {
    padding-left: 10px;
}

li .salary {
    margin-top: 40px;
}

li .salary span {
    font-weight: bold;
}

li .salary > div {
    padding-left: 10px;
}

li .jobDesc .jd_content pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
}

li .foot {
    margin: 20px 0 10px;
}

li .foot .job_source {
    float: left;
    display: flex;
}

li .foot .job_source span {
    font-weight: bold;
}

li .foot .job_source > div {
    padding-left: 10px;
}

li .foot .job_type {
    float: right;
    text-transform: uppercase   ;
}
